In [ ]:
# IMporting essential libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Reading all the provided datasets
flight_train = pd.read_excel('Flight_prices_data_train.xlsx')
flight_test = pd.read_excel('Flight_prices_data_test.xlsx')
flight_sample = pd.read_excel('Flight_price_sample_submission.xlsx')

In [ ]:
# Reading the head of the train datset
flight_train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [ ]:
# Reading the head of the test dataset
flight_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [ ]:
# Reading the head of the sample output
flight_sample.head()

   Price
0  15998
1  16612
2  25572
3  25778
4  16934

In [ ]:
# Checking for datatypes
flight_train.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [ ]:
# Appending train and the test datasets together
flight_train_test = flight_train.append(flight_test)

In [ ]:
# Checking the head of the appended dataset
flight_train_test

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0
...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

## Column = 'Date_of_Journey'

In [ ]:
# Since the dtype of the column 'Date_of_Journey' is Object let us split the date to avoid problems while performing ML steps
flight_train_test['Date'] = flight_train_test['Date_of_Journey'].str.split('/').str[0]
flight_train_test['Month'] = flight_train_test['Date_of_Journey'].str.split('/').str[1]
flight_train_test['Year'] = flight_train_test['Date_of_Journey'].str.split('/').str[2]

# Column = 'Arrival_Time'

In [ ]:
# Similarly lets split the 'Arrival_Time' as well and keep the time details
flight_train_test['Arrival_hour'] = flight_train_test['Arrival_Time'].str.split(':').str[0]
flight_train_test['Arrival_minute'] = flight_train_test['Arrival_Time'].str.split(' ').str[1]

In [ ]:
flight_train_test['Arrival_minute'] = flight_train_test['Arrival_minute'].fillna('00')

# Column = 'Dep_Time'

In [ ]:
flight_train_test['Dep_hour'] = flight_train_test['Dep_Time'].str.split(':').str[0]
flight_train_test['Dep_min'] = flight_train_test['Dep_Time'].str.split(':').str[1]

flight_train_test['Dep_hour'] = flight_train_test['Dep_hour'].astype(int)
flight_train_test['Dep_min'] = flight_train_test['Dep_min'].astype(int)

# Column = 'Total_Stops'

In [ ]:
# Checking the values in the column 'Total_Stops'
flight_train_test['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [ ]:
# Replacing the values in the column 'Total_Stops'

In [ ]:
flight_train_test['Total_Stops'] = flight_train_test['Total_Stops'].replace('non-stop', 0)

In [ ]:
flight_train_test['Total_Stops'] = flight_train_test['Total_Stops'].replace('1 stop', 1)

In [ ]:
flight_train_test['Total_Stops'] = flight_train_test['Total_Stops'].replace('2 stops', 2)

In [ ]:
flight_train_test['Total_Stops'] = flight_train_test['Total_Stops'].replace('3 stops', 3)

In [ ]:
flight_train_test['Total_Stops'] = flight_train_test['Total_Stops'].replace('4 stops', 4)

In [ ]:
# Checking for any abnormal values
flight_train_test['Total_Stops'].unique()

array([ 0.,  2.,  1.,  3., nan,  4.])

In [ ]:
# Finding the median of the values in the column
flight_train_test['Total_Stops'].median()

1.0

In [ ]:
# Replacing the nan values with the median
flight_train_test['Total_Stops'] = flight_train_test['Total_Stops'].fillna(1)

In [ ]:
# Finally checking for the values in the column
flight_train_test['Total_Stops'].unique()

array([0., 2., 1., 3., 4.])

In [ ]:
# Checking the data type of the column
flight_train_test['Total_Stops'].dtypes

dtype('float64')

# Eyeballing for abnormal values

In [ ]:
col = flight_train_test.columns
for i in col:
    print([i], " ",flight_train_test[i].unique())
    print("")

['Airline']   ['IndiGo' 'Air India' 'Jet Airways' 'SpiceJet' 'Multiple carriers' 'GoAir'
 'Vistara' 'Air Asia' 'Vistara Premium economy' 'Jet Airways Business'
 'Multiple carriers Premium economy' 'Trujet']

['Date_of_Journey']   ['24/03/2019' '1/05/2019' '9/06/2019' '12/05/2019' '01/03/2019'
 '24/06/2019' '12/03/2019' '27/05/2019' '1/06/2019' '18/04/2019'
 '9/05/2019' '24/04/2019' '3/03/2019' '15/04/2019' '12/06/2019'
 '6/03/2019' '21/03/2019' '3/04/2019' '6/05/2019' '15/05/2019'
 '18/06/2019' '15/06/2019' '6/04/2019' '18/05/2019' '27/06/2019'
 '21/05/2019' '06/03/2019' '3/06/2019' '15/03/2019' '3/05/2019'
 '9/03/2019' '6/06/2019' '24/05/2019' '09/03/2019' '1/04/2019'
 '21/04/2019' '21/06/2019' '27/03/2019' '18/03/2019' '12/04/2019'
 '9/04/2019' '1/03/2019' '03/03/2019' '27/04/2019']

['Source']   ['Banglore' 'Kolkata' 'Delhi' 'Chennai' 'Mumbai']

['Destination']   ['New Delhi' 'Banglore' 'Cochin' 'Kolkata' 'Delhi' 'Hyderabad']

['Route']   ['BLR → DEL' 'CCU → IXR → BBI → BLR' 'DEL → LKO → BOM → COK'
 'CCU → NAG → BLR' 'BLR → NAG → DEL' 'CCU → BLR' 'BLR → BOM → DEL'
 'DEL → BOM → COK' 'DEL → BLR → COK' 'MAA → CCU' 'CCU → BOM → BLR'
 'DEL → AMD → BOM → COK' 'DEL → PNQ → COK' 'DEL → CCU → BOM → COK'
 'BLR → COK → DEL' 'DEL → IDR → BOM → COK' 'DEL → LKO → COK'
 'CCU → GAU → DEL → BLR' 'DEL → NAG → BOM → COK' 'CCU → MAA → BLR'
 'DEL → HYD → COK' 'CCU → HYD → BLR' 'DEL → COK' 'CCU → DEL → BLR'
 'BLR → BOM → AMD → DEL' 'BOM → DEL → HYD' 'DEL → MAA → COK' 'BOM → HYD'
 'DEL → BHO → BOM → COK' 'DEL → JAI → BOM → COK' 'DEL → ATQ → BOM → COK'
 'DEL → JDH → BOM → COK' 'CCU → BBI → BOM → BLR' 'BLR → MAA → DEL'
 'DEL → GOI → BOM → COK' 'DEL → BDQ → BOM → COK' 'CCU → JAI → BOM → BLR'
 'CCU → BBI → BLR' 'BLR → HYD → DEL' 'DEL → TRV → COK'
 'CCU → IXR → DEL → BLR' 'DEL → IXU → BOM → COK' 'CCU → IXB → BLR'
 'BLR → BOM → JDH → DEL' 'DEL → UDR → BOM → COK' 'DEL → HYD → MAA → COK'
 'CCU → BOM → COK → BLR' 'BLR → CCU → DEL' 'CCU → BOM → GOI → BLR'
 'DEL → RPR → NAG → BOM → COK' 'DEL → HYD → BOM → COK'
 'CCU → DEL → AMD → BLR' 'CCU → PNQ → BLR' 'BLR → CCU → GAU → DEL'
 'CCU → DEL → COK → BLR' 'BLR → PNQ → DEL' 'BOM → JDH → DEL → HYD'
 'BLR → BOM → BHO → DEL' 'DEL → AMD → COK' 'BLR → LKO → DEL'
 'CCU → GAU → BLR' 'BOM → GOI → HYD' 'CCU → BOM → AMD → BLR'
 'CCU → BBI → IXR → DEL → BLR' 'DEL → DED → BOM → COK'
 'DEL → MAA → BOM → COK' 'BLR → AMD → DEL' 'BLR → VGA → DEL'
 'CCU → JAI → DEL → BLR' 'CCU → AMD → BLR' 'CCU → VNS → DEL → BLR'
 'BLR → BOM → IDR → DEL' 'BLR → BBI → DEL' 'BLR → GOI → DEL'
 'BOM → AMD → ISK → HYD' 'BOM → DED → DEL → HYD' 'DEL → IXC → BOM → COK'
 'CCU → PAT → BLR' 'BLR → CCU → BBI → DEL' 'CCU → BBI → HYD → BLR'
 'BLR → BOM → NAG → DEL' 'BLR → CCU → BBI → HYD → DEL' 'BLR → GAU → DEL'
 'BOM → BHO → DEL → HYD' 'BOM → JLR → HYD' 'BLR → HYD → VGA → DEL'
 'CCU → KNU → BLR' 'CCU → BOM → PNQ → BLR' 'DEL → BBI → COK'
 'BLR → VGA → HYD → DEL' 'BOM → JDH → JAI → DEL → HYD'
 'DEL → GWL → IDR → BOM → COK' 'CCU → RPR → HYD → BLR' 'CCU → VTZ → BLR'
 'CCU → DEL → VGA → BLR' 'BLR → BOM → IDR → GWL → DEL'
 'CCU → DEL → COK → TRV → BLR' 'BOM → COK → MAA → HYD' 'BOM → NDC → HYD'
 'BLR → BDQ → DEL' 'CCU → BOM → TRV → BLR' 'CCU → BOM → HBX → BLR'
 'BOM → BDQ → DEL → HYD' 'BOM → CCU → HYD' 'BLR → TRV → COK → DEL'
 'BLR → IDR → DEL' 'CCU → IXZ → MAA → BLR' 'CCU → GAU → IMF → DEL → BLR'
 'BOM → GOI → PNQ → HYD' 'BOM → BLR → CCU → BBI → HYD' 'BOM → MAA → HYD'
 'BLR → BOM → UDR → DEL' 'BOM → UDR → DEL → HYD' 'BLR → VGA → VTZ → DEL'
 'BLR → HBX → BOM → BHO → DEL' 'CCU → IXA → BLR' 'BOM → RPR → VTZ → HYD'
 'BLR → HBX → BOM → AMD → DEL' 'BOM → IDR → DEL → HYD' 'BOM → BLR → HYD'
 'BLR → STV → DEL' 'CCU → IXB → DEL → BLR' 'BOM → JAI → DEL → HYD'
 'BOM → VNS → DEL → HYD' 'BLR → HBX → BOM → NAG → DEL' nan
 'BLR → BOM → IXC → DEL' 'BLR → CCU → BBI → HYD → VGA → DEL'
 'BOM → BBI → HYD' 'BLR → TRV → DEL' 'CCU → IXR → BBI → BOM → BLR'
 'BOM → VGA → TIR → HYD' 'BOM → IXC → DEL → HYD']

['Dep_Time']   ['22:20' '05:50' '09:25' '18:05' '16:50' '09:00' '18:55' '08:00' '08:55'
 '11:25' '09:45' '20:20' '11:40' '21:10' '17:15' '16:40' '08:45' '14:00'
 '20:15' '16:00' '14:10' '22:00' '04:00' '21:25' '21:50' '07:00' '07:05'
 '09:50' '14:35' '10:35' '15:05' '14:15' '06:45' '20:55' '11:10' '05:45'
 '19:00' '23:05' '11:00' '09:35' '21:15' '23:55' '19:45' '08:50' '15:40'
 '06:05' '15:00' '13:55' '05:55' '13:20' '05:05' '06:25' '17:30' '08:20'
 '19:55' '06:30' '14:05' '02:00' '09:40' '08:25' '20:25' '13:15' '02:15'
 '16:55' '20:45' '05:15' '19:50' '20:00' '06:10' '19:30' '04:45' '12:55'
 '18:15' '17:20' '15:25' '23:00' '12:00' '14:45' '11:50' '11:30' '14:40'
 '19:10' '06:00' '23:30' '07:35' '13:05' '12:30' '15:10' '12:50' '18:25'
 '16:30' '00:40' '06:50' '13:00' '19:15' '01:30' '17:00' '10:00' '19:35'
 '15:30' '12:10' '16:10' '20:35' '22:25' '21:05' '05:35' '05:10' '06:40'
 '15:15' '00:30' '08:30' '07:10' '05:30' '14:25' '05:25' '10:20' '17:45'
 '13:10' '22:10' '04:55' '17:50' '21:20' '06:20' '15:55' '20:30' '17:25'
 '09:30' '07:30' '02:35' '10:55' '17:10' '09:10' '18:45' '15:20' '22:50'
 '14:55' '14:20' '13:25' '22:15' '11:05' '16:15' '20:10' '06:55' '19:05'
 '07:55' '07:45' '10:10' '08:15' '11:35' '21:00' '17:55' '16:45' '18:20'
 '03:50' '08:35' '19:20' '20:05' '17:40' '04:40' '17:35' '09:55' '05:00'
 '18:00' '02:55' '20:40' '22:55' '22:40' '21:30' '08:10' '17:05' '07:25'
 '15:45' '09:15' '15:50' '11:45' '22:05' '18:35' '00:25' '19:40' '20:50'
 '22:45' '10:30' '23:25' '11:55' '10:45' '11:15' '12:20' '14:30' '07:15'
 '01:35' '18:40' '09:20' '21:55' '13:50' '01:40' '00:20' '04:15' '13:45'
 '18:30' '06:15' '02:05' '12:15' '13:30' '06:35' '10:05' '08:40' '03:05'
 '21:35' '16:35' '02:30' '16:25' '05:40' '15:35' '13:40' '07:20' '04:50'
 '12:45' '10:25' '12:05' '11:20' '21:40' '03:00' '22:30']

['Arrival_Time']   ['01:10 22 Mar' '13:15' '04:25 10 Jun' ... '00:20 07 Mar' '00:20 02 Apr'
 '07:45 13 May']

['Duration']   ['2h 50m' '7h 25m' '19h' '5h 25m' '4h 45m' '2h 25m' '15h 30m' '21h 5m'
 '25h 30m' '7h 50m' '13h 15m' '2h 35m' '2h 15m' '12h 10m' '26h 35m'
 '4h 30m' '22h 35m' '23h' '20h 35m' '5h 10m' '15h 20m' '2h 55m' '13h 20m'
 '15h 10m' '5h 45m' '5h 55m' '13h 25m' '22h' '5h 30m' '10h 25m' '5h 15m'
 '2h 30m' '6h 15m' '11h 55m' '11h 5m' '8h 30m' '22h 5m' '2h 45m' '12h'
 '16h 5m' '19h 55m' '3h 15m' '25h 20m' '3h' '16h 15m' '15h 5m' '6h 30m'
 '25h 5m' '12h 25m' '27h 20m' '10h 15m' '10h 30m' '1h 30m' '1h 25m'
 '26h 30m' '7h 20m' '13h 30m' '5h' '19h 5m' '14h 50m' '2h 40m' '22h 10m'
 '9h 35m' '10h' '21h 20m' '18h 45m' '12h 20m' '18h' '9h 15m' '17h 30m'
 '16h 35m' '12h 15m' '7h 30m' '24h' '8h 55m' '7h 10m' '14h 30m' '30h 20m'
 '15h' '12h 45m' '10h 10m' '15h 25m' '14h 5m' '20h 15m' '23h 10m'
 '18h 10m' '16h' '2h 20m' '8h' '16h 55m' '3h 10m' '14h' '23h 50m'
 '21h 40m' '21h 15m' '10h 50m' '8h 15m' '8h 35m' '11h 50m' '27h 35m'
 '8h 25m' '20h 55m' '4h 50m' '8h 10m' '24h 25m' '23h 35m' '25h 45m'
 '26h 10m' '28h 50m' '25h 15m' '9h 20m' '9h 10m' '3h 5m' '11h 30m'
 '9h 30m' '17h 35m' '5h 5m' '25h 50m' '20h' '13h' '18h 25m' '24h 10m'
 '4h 55m' '25h 35m' '6h 20m' '18h 40m' '19h 25m' '29h 20m' '9h 5m'
 '10h 45m' '11h 40m' '22h 55m' '37h 25m' '25h 40m' '13h 55m' '8h 40m'
 '23h 30m' '12h 35m' '24h 15m' '1h 20m' '11h' '11h 15m' '14h 35m'
 '12h 55m' '9h' '7h 40m' '11h 45m' '24h 55m' '17h 5m' '29h 55m' '22h 15m'
 '14h 40m' '7h 15m' '20h 10m' '20h 45m' '27h' '24h 30m' '20h 25m' '5h 35m'
 '14h 45m' '5h 40m' '4h 5m' '15h 55m' '7h 45m' '28h 20m' '4h 20m' '3h 40m'
 '8h 50m' '23h 45m' '24h 45m' '21h 35m' '8h 5m' '6h 25m' '15h 50m'
 '26h 25m' '24h 50m' '26h' '23h 5m' '7h 55m' '26h 20m' '23h 15m' '5h 20m'
 '4h' '9h 45m' '8h 20m' '17h 25m' '7h 5m' '34h 5m' '6h 5m' '5h 50m' '7h'
 '4h 25m' '13h 45m' '19h 15m' '22h 30m' '16h 25m' '13h 50m' '27h 5m'
 '28h 10m' '4h 40m' '15h 40m' '4h 35m' '18h 30m' '38h 15m' '6h 35m'
 '12h 30m' '11h 20m' '7h 35m' '29h 35m' '26h 55m' '23h 40m' '12h 50m'
 '9h 50m' '21h 55m' '10h 55m' '21h 10m' '20h 40m' '30h' '13h 10m' '8h 45m'
 '6h 10m' '17h 45m' '21h 45m' '3h 55m' '17h 20m' '30h 30m' '21h 25m'
 '12h 40m' '24h 35m' '19h 10m' '22h 40m' '14h 55m' '21h' '6h 45m'
 '28h 40m' '9h 40m' '16h 40m' '16h 20m' '16h 45m' '1h 15m' '6h 55m'
 '11h 25m' '14h 20m' '12h 5m' '24h 5m' '28h 15m' '17h 50m' '20h 20m'
 '28h 5m' '10h 20m' '14h 15m' '35h 15m' '35h 35m' '26h 40m' '28h'
 '14h 25m' '13h 5m' '37h 20m' '36h 10m' '25h 55m' '35h 5m' '19h 45m'
 '27h 55m' '47h' '10h 35m' '1h 35m' '16h 10m' '38h 20m' '6h' '16h 50m'
 '14h 10m' '23h 20m' '17h 40m' '11h 35m' '18h 20m' '6h 40m' '30h 55m'
 '24h 40m' '29h 50m' '28h 25m' '17h 15m' '22h 45m' '25h 25m' '21h 50m'
 '33h 15m' '30h 15m' '3h 35m' '27h 40m' '30h 25m' '18h 50m' '27h 45m'
 '15h 15m' '10h 40m' '26h 15m' '36h 25m' '26h 50m' '15h 45m' '19h 40m'
 '22h 25m' '19h 35m' '25h' '26h 45m' '38h' '4h 15m' '25h 10m' '18h 15m'
 '6h 50m' '23h 55m' '17h 55m' '23h 25m' '17h 10m' '24h 20m' '28h 30m'
 '27h 10m' '19h 20m' '15h 35m' '9h 25m' '21h 30m' '34h 25m' '18h 35m'
 '29h 40m' '26h 5m' '29h 5m' '27h 25m' '16h 30m' '11h 10m' '28h 55m'
 '29h 10m' '34h' '30h 40m' '30h 45m' '32h 55m' '10h 5m' '35h 20m' '32h 5m'
 '31h 40m' '19h 50m' '33h 45m' '30h 10m' '13h 40m' '19h 30m' '31h 30m'
 '34h 30m' '27h 50m' '38h 35m' '42h 5m' '4h 10m' '39h 5m' '3h 50m' '5m'
 '32h 30m' '31h 55m' '33h 20m' '27h 30m' '18h 55m' '9h 55m' '41h 20m'
 '20h 5m' '31h 50m' '42h 45m' '3h 25m' '37h 10m' '29h 30m' '32h 20m'
 '20h 50m' '40h 20m' '13h 35m' '47h 40m' '20h 30m' '3h 45m' '31h 10m'
 '40h 40m' '22h 50m' '32h 25m']

['Total_Stops']   [0. 2. 1. 3. 4.]

['Additional_Info']   ['No info' 'In-flight meal not included' 'No check-in baggage included'
 '1 Short layover' 'No Info' '1 Long layover' 'Change airports'
 'Business class' 'Red-eye flight' '2 Long layover']

['Price']   [ 3897.  7662. 13882. ... 12352. 12648.    nan]

['Date']   ['24' '1' '9' '12' '01' '27' '18' '3' '15' '6' '21' '06' '09' '03']

['Month']   ['03' '05' '06' '04']

['Year']   ['2019']

['Arrival_hour']   ['01' '13' '04' '23' '21' '11' '10' '05' '19' '22' '09' '12' '06' '08'
 '03' '20' '16' '18' '15' '14' '00' '02' '07' '17']

['Arrival_minute']   ['22' '00' '10' '13' '02' '04' '28' '19' '07' '16' '25' '20' '23' '11'
 '03' '08' '05' '26' '29' '17']

['Dep_hour']   [22  5  9 18 16  8 11 20 21 17 14  4  7 10 15  6 19 23 13  2 12  0  1  3]

['Dep_min']   [20 50 25  5  0 55 45 40 10 15 35 30]

# Route

In [ ]:
flight_train_test['Route_1'] = flight_train_test['Route'].str.split('→ ').str[0]
flight_train_test['Route_2'] = flight_train_test['Route'].str.split('→ ').str[1]
flight_train_test['Route_3'] = flight_train_test['Route'].str.split('→ ').str[2]
flight_train_test['Route_4'] = flight_train_test['Route'].str.split('→ ').str[3]
flight_train_test['Route_5'] = flight_train_test['Route'].str.split('→ ').str[4]

In [ ]:
flight_train_test['Route_1'].fillna("None", inplace = True)
flight_train_test['Route_2'].fillna("None", inplace = True)
flight_train_test['Route_3'].fillna("None", inplace = True)
flight_train_test['Route_4'].fillna("None", inplace = True)
flight_train_test['Route_5'].fillna("None", inplace = True)

In [ ]:
flight_train_test

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,...,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_min,Route_1,Route_2,Route_3,Route_4,Route_5
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,0.0,No info,...,2019,01,22,22,20,BLR,DEL,None,None,None
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2.0,No info,...,2019,13,00,5,50,CCU,IXR,BBI,BLR,None
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2.0,No info,...,2019,04,10,9,25,DEL,LKO,BOM,COK,None
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1.0,No info,...,2019,23,00,18,5,CCU,NAG,BLR,None,None
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1.0,No info,...,2019,21,00,16,50,BLR,NAG,DEL,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1.0,No info,...,2019,20,07,20,30,CCU,DEL,BLR,None,None
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,0.0,No info,...,2019,16,00,14,20,CCU,BLR,None,None,None
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1.0,No info,...,2019,04,07,21,50,DEL,BOM,COK,None,None
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1.0,No info,...,2019,19,00,4,0,DEL,BOM,COK,None,None
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1.0,No info,...,2019,19,00,4,55,DEL,BOM,COK,None,None

In [ ]:
from sklearn.preprocessing import LabelEncoder
lb_encode = LabelEncoder()

In [ ]:
flight_train_test['Additional_Info'] = lb_encode.fit_transform(flight_train_test['Additional_Info'])
flight_train_test['Airline'] = lb_encode.fit_transform(flight_train_test['Airline'])
flight_train_test['Destination'] = lb_encode.fit_transform(flight_train_test['Destination'])
flight_train_test['Source'] = lb_encode.fit_transform(flight_train_test['Source'])
flight_train_test['Route_1'] = lb_encode.fit_transform(flight_train_test['Route_1'])
flight_train_test['Route_2'] = lb_encode.fit_transform(flight_train_test['Route_2'])
flight_train_test['Route_3'] = lb_encode.fit_transform(flight_train_test['Route_3'])
flight_train_test['Route_4'] = lb_encode.fit_transform(flight_train_test['Route_4'])
flight_train_test['Route_5'] = lb_encode.fit_transform(flight_train_test['Route_5'])

In [ ]:
flight_train_test

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,...,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_min,Route_1,Route_2,Route_3,Route_4,Route_5
0,3,24/03/2019,0,5,BLR → DEL,22:20,01:10 22 Mar,2h 50m,0.0,8,...,2019,01,22,22,20,0,13,24,12,4
1,1,1/05/2019,3,0,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2.0,8,...,2019,13,00,5,50,2,25,1,3,4
2,4,9/06/2019,2,1,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2.0,8,...,2019,04,10,9,25,3,32,4,5,4
3,3,12/05/2019,3,0,CCU → NAG → BLR,18:05,23:30,5h 25m,1.0,8,...,2019,23,00,18,5,2,34,3,12,4
4,3,01/03/2019,0,5,BLR → NAG → DEL,16:50,21:35,4h 45m,1.0,8,...,2019,21,00,16,50,0,34,8,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,1,6/06/2019,3,0,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1.0,8,...,2019,20,07,20,30,2,14,3,12,4
2667,3,27/03/2019,3,0,CCU → BLR,14:20,16:55,2h 35m,0.0,8,...,2019,16,00,14,20,2,5,24,12,4
2668,4,6/03/2019,2,1,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1.0,8,...,2019,04,07,21,50,3,7,6,12,4
2669,1,6/03/2019,2,1,DEL → BOM → COK,04:00,19:15,15h 15m,1.0,8,...,2019,19,00,4,0,3,7,6,12,4
2670,6,15/06/2019,2,1,DEL → BOM → COK,04:55,19:15,14h 20m,1.0,8,...,2019,19,00,4,55,3,7,6,12,4

# Dividing the data in train and test data

In [ ]:
# Checking for info to divide the dataset
flight_train_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  int32
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  int32
 3   Destination      13354 non-null  int32
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13354 non-null  float64
 9   Additional_Info  13354 non-null  int32
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  object
 12  Month            13354 non-null  object
 13  Year             13354 non-null  object
 14  Arrival_hour     13354 non-null  object
 15  Arrival_minute   13354 non-null  object
 16  Dep_hour         13354 non-null  int32
 17  Dep_min          13354 non-null  int32
 18  Route_1          13354 non-null  int32
 19  Route_2          13354 non-null  int32
 20  Route_3          13354 non-null  int32
 21  Route_4          13354 non-null  int32
 22  Route_5          13354 non-null  int32
dtypes: float64(2), int32(11), object(10)
memory usage: 1.9+ MB

In [ ]:
flight_train_test.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'Date', 'Month', 'Year', 'Arrival_hour',
       'Arrival_minute', 'Dep_hour', 'Dep_min', 'Route_1', 'Route_2',
       'Route_3', 'Route_4', 'Route_5'],
      dtype='object')

In [ ]:
flight_train_test.drop(['Date_of_Journey','Duration', 'Route', 'Dep_Time', 'Arrival_Time'], axis = 1, inplace=True)

In [ ]:
# Dateset divided in datapoints as it was
df_train = flight_train_test[0:10683]
df_test = flight_train_test[10683:]

In [ ]:
# Dropping the Price column in the test dataset as it was not there and now it may possibly be nan values
df_test = df_test.drop(['Price'], axis = 1)

# Feature selection

In [ ]:
x = df_train.drop(['Price'], axis = 1)
y = df_train['Price']

# Model Building

In [ ]:
from scipy import stats
from scipy.stats import norm, skew
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold, cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.preprocessing import RobustScaler
from sklearn.pipeline import make_pipeline

In [ ]:
x

,Airline,Source,Destination,Total_Stops,Additional_Info,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_min,Route_1,Route_2,Route_3,Route_4,Route_5
0,3,0,5,0.0,8,24,03,2019,01,22,22,20,0,13,24,12,4
1,1,3,0,2.0,8,1,05,2019,13,00,5,50,2,25,1,3,4
2,4,2,1,2.0,8,9,06,2019,04,10,9,25,3,32,4,5,4
3,3,3,0,1.0,8,12,05,2019,23,00,18,5,2,34,3,12,4
4,3,0,5,1.0,8,01,03,2019,21,00,16,50,0,34,8,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,0,3,0,0.0,8,9,04,2019,22,00,19,55,2,5,24,12,4
10679,1,3,0,0.0,8,27,04,2019,23,00,20,45,2,5,24,12,4
10680,4,0,2,0.0,8,27,04,2019,11,00,8,20,0,13,24,12,4
10681,10,0,5,0.0,8,01,03,2019,14,00,11,30,0,13,24,12,4
10682,1,2,1,2.0,8,9,05,2019,19,00,10,55,3,16,4,5,4

In [ ]:
y

0         3897.0
1         7662.0
2        13882.0
3         6218.0
4        13302.0
          ...
10678     4107.0
10679     4145.0
10680     7229.0
10681    12648.0
10682    11753.0
Name: Price, Length: 10683, dtype: float64

In [ ]:
from sklearn.linear_model import LinearRegression
logmodel = LinearRegression()
logmodel.fit(x, y)

LinearRegression()

In [ ]:
y_pred = logmodel.predict(x)

In [ ]:
y_pred

array([ 6698.34765757, 12729.59217148, 11673.27271419, ...,
        4525.27904689,  8997.96054109, 12863.55937743])

In [ ]:
pd.DataFrame(y_pred)

                  0
0       6698.347658
1      12729.592171
2      11673.272714
3       8196.497873
4      11819.672976
...             ...
10678   4428.792406
10679   3134.097117
10680   4525.279047
10681   8997.960541
10682  12863.559377

[10683 rows x 1 columns]

# End of EDA